table {
    width: 100%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: white; /* Light gray background */
    /* border-radius: 25px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd; /* Light gray border */
  }
  
  th {
    
    background-color: #157fbe; /* Dark blue header */
    font-weight: bold;
    color: #fff; /* White text for header */
  }
  
  td {
    color: rgb(64, 64, 64);
  }