// deactivate_account.pug

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Account Deactivation Notification
    style.
      /* Add your CSS styles here */
  body
    h1 Account Deactivation Notification
    p Dear #{firstName},
    p We regret to inform you that your account on our platform has been temporarily deactivated.
    p This action was taken due to inappropriate activity detected on your account.
    p Your account will remain deactivated until further notice. 
    p If you have any questions or concerns, please don't hesitate to contact us .
    p Thank you for your understanding.
    p Best regards,
    p Share Plate
