// account_deleted.pug

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Account Deletion Notification
    style.
      /* Add your CSS styles here */
  body
    h1 Account Deletion Notification
    p Dear #{firstName},
    p We regret to inform you that your account on our platform has been permanently deleted.
    p This action was taken due to activity that does not comply with our platform's policies.
    p If you have any questions or concerns, please don't hesitate to contact us at .
    p Best regards,
    p Share Plate
