// passwordReset.pug
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Password Reset
    style.
      /* Add your CSS styles here */
  body
    h1 Password Reset
    p Dear #{firstName},
    p You recently requested to reset your password. Please click on the following link to reset your password:
    a(href= url) Reset Password
    p This link is valid for 10 minutes.
    p Best regards,
    p Share Plate
