// account_rejected.pug

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Account Rejection Notification
    style.
      /* Add your CSS styles here */
  body
    h1 Account Rejection Notification
    p Dear #{firstName},
    p We regret to inform you that your request for an account on our platform has been rejected.
    p Unfortunately, your request does not meet our platform's requirements at this time.
    p If you have any questions or concerns, please don't hesitate to contact us.
    p Thank you for your understanding.
    p Best regards,
    p Share Plate
