//- warning.pug
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Complaint Warning
  body
    h1 Complaint Warning
    p Dear #{receiverName},
    p You have received a complaint. Here is the message:
    p #{message}
    p Please note that if this behavior continues, we may need to implement 
    p certain restrictions to maintain a safe and welcoming environment for everyone.
    p Thank you for your understanding.
    p Best regards,
    p Share Plate